main {font-family: verdana, arial, sans-serif; font-size: 12pt;text-align:justify;}
main {font-size: 16pt; font-weight: bold;}
main {font-size: 12pt; font-weight: bold; ;}
table {border:1px solid black;border-collapse:collapse;}
td, th{border:1px solid black; padding:10px;}
th {text-align:center;}
input[readonly]{
    background: lightgray;
}